---
to: src/pages<%= path %>.tsx
---
import type { HTMLAttributes } from 'react'
import type { SiteLocale } from '@shared/i18n'
import { memo } from 'react'
import { useI18n } from 'next-rosetta'
import cn from 'classnames'
import s from './index.module.css'

interface <%= h.changeCase.pascal(name) %>PageProps extends HTMLAttributes<HTMLDivElement> {}

const <%= h.changeCase.pascal(name) %>Page = memo(({ className, ...props }: <%= h.changeCase.pascal(name) %>PageProps): JSX.Element => {
	const i18n = useI18n<SiteLocale>()
	const { t } = i18n

	return (
    <div className={cn(s.component, className)} {...props}>
      {t('<%=h.changeCase.lowerCase(name)%>.hero.title')}
    </div>
	)
})

<%= h.changeCase.pascal(name) %>Page.displayName = '<%= h.changeCase.pascal(name) %>Page'

export { <%= h.changeCase.pascal(name) %>Page }
export type { <%= h.changeCase.pascal(name) %>PageProps }
