---
to: src/pages<%= path %>.tsx
---
import React, { FC, memo } from 'react'
import cn from 'classnames'
import s from './index.module.css'

export interface <%= h.changeCase.pascal(name) %>PageProps {

}

const <%= h.changeCase.pascal(name) %>Page: FC<<%= h.changeCase.pascal(name) %>PageProps> = (): JSX.Element => {
	return (
    <div className={s.component}>
      <%= h.changeCase.pascal(name) %> Page
    </div>
	)
}

export default memo(<%= h.changeCase.pascal(name) %>Page)
