---
to: src/<%= folder %>/<%= h.inflection.dasherize(name) %>/index.tsx
---
import { memo } from 'react'
import type { HTMLAttributes } from 'react'
import cn from 'classnames'
import s from './index.module.css'

interface <%= h.changeCase.pascal(name) %>Props extends HTMLAttributes<HTMLDivElement> {}

const <%= h.changeCase.pascal(name) %> = memo(({ className, ...props }: <%= h.changeCase.pascal(name) %>Props): JSX.Element => {
  return (
    <div className={cn(s.component, className)} {...props}>
      <%= h.changeCase.pascal(name) %>
    </div>
  )
})

<%= h.changeCase.pascal(name) %>.displayName = '<%= h.changeCase.pascal(name) %>'

// If you leave memo, the i18n texts
// will not be displayed when switching languages
export { <%= h.changeCase.pascal(name) %> }
export type { <%= h.changeCase.pascal(name) %>Props }
