---
to: src/<%= folder %>/<%= h.inflection.dasherize(name) %>/index.tsx
---
import { FC } from 'react'
import cn from 'classnames'
import s from './index.module.css'

export interface <%= h.changeCase.pascal(name) %>Props {

}

const <%= h.changeCase.pascal(name) %>: FC<<%= h.changeCase.pascal(name) %>Props> = ({  }): JSX.Element => {
  return (
    <div className={s.component}>
      <%= h.changeCase.pascal(name) %>
    </div>
  )
}

export default <%= h.changeCase.pascal(name) %>
